<div class="protocolo">
  <div class="card">
    <div class="card-header">
      Protocolo de solicitação: Não recebimento abono de natal
    </div>
    <div class="card-body">
      <h5 class="card-title titulo">Solicitação efetuada com Sucesso!</h5>

      <div class="textos">
        <p class="card-text"><strong>N° do protocolo : </strong> {{idProtocoloString}} </p>
        <p class="card-text"><strong>Nome : </strong> {{protocolo.nome}} </p>
        <p class="card-text"><strong>Registro : </strong> {{protocolo.matricula}} </p>
        <p class="card-text"><strong>Data de envio : </strong> {{protocolo.dtPedido | date : 'dd/MM/YYYY'}} </p>

      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <button class="btn btn-success text-white" (click)="redirectToPDF()" id="imprimir">Imprimir</button>
      <button class="btn bg-pmsv-primary text-white" routerLink="/solicitacoes" id="voltar">Voltar às solicitações</button>
    </div>
  </div>
</div>
