<section class="container-fluid p-3 solicitacoes">
  <h6 class="mt-3 text-center fw-bold">
    Ao realizar qualquer solicitação, você deve aguardar seu deferimento em exercício. <br>
    O envio da solicitação NÃO significa que a mesma foi aprovada.
  </h6>
  <div class="row m-0 justify-content-center gap-5 w-100 mt-3 mb-5">

    <div class="card border-0 shadow card_solicitacao col-4" routerLink="../abono-natal">
      <div class="card-title mt-3">
        Abono Natal
      </div>
      <div class="card-icon">
        <span class="material-symbols-outlined">
          request_quote
        </span>
      </div>
    </div>

    <div class="card border-0 shadow card_solicitacao col-4" routerLink="../contagem-quinquenio">
      <div class="card-title mt-3">
        Contagem Licença Prêmio
      </div>
      <div class="card-icon">
        <span class="material-symbols-outlined">
          event
        </span>
      </div>
    </div>

    <div class="card border-0 shadow card_solicitacao col-4" routerLink="../vale-transporte">
      <div class="card-title mt-3">
        Vale Transporte
      </div>
      <div class="card-icon">
        <span class="material-symbols-outlined">
          directions_bus
        </span>
      </div>
    </div>

    <div class="card border-0 shadow card_solicitacao col-4" routerLink="../requisicao-declaracao">
      <div class="card-title mt-3">
        Requisição de Declaração
      </div>
      <div class="card-icon">
        <span class="material-symbols-outlined">
          description
        </span>
      </div>
    </div>

    <div class="card border-0 shadow card_solicitacao col-4" routerLink="../reducao-carga-horaria">
      <div class="card-title mt-3">
        Redução de Carga Horária
      </div>
      <div class="card-icon">
        <span class="material-symbols-outlined">
          manage_history
        </span>
      </div>
    </div>

    <div class="card border-0 shadow card_solicitacao col-4" routerLink="../licenca-sem-vencimento">
      <div class="card-title mt-3">
        Licença para tratar de interesses particulares (Licença sem vencimento)
      </div>
      <div class="card-icon">
        <span class="material-symbols-outlined">
          work_history
        </span>
      </div>
    </div>

  </div>


</section>
