<section class="container-fluid">

  <h2 class="mt-3 mb-5 text-center">DECLARAÇÃO ANUAL DE BENS</h2>

  <div class="row w-80">
    <div class="col-md-6 declaracao">
        <div class="content__declaracao">
          <div class="img-exercicio">
            <img src="assets/image/declaracao-bens/img-bens.png" routerLink="/declaracao-bens/formulario/{{anoAtual-2}}">
            <figcaption> {{anoAtual-2}} </figcaption>
          </div>
          <span>Envio da Declaração de Bens e Valores {{anoAtual-2}}</span>
        </div>
    </div>
    <div class="col-md-6 declaracao">
        <div class="content__declaracao">
          <div class="img-exercicio">
            <img src="assets/image/declaracao-bens/img-bens.png" routerLink="/declaracao-bens/formulario/{{anoAtual-1}}">
            <figcaption> {{anoAtual-1}} </figcaption>
          </div>
          <span>Envio da Declaração de Bens e Valores {{anoAtual-1}}</span>
        </div>
    </div>
  </div>

</section>
