.container-fluid {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;

  .declaracao {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .content__declaracao {
      width: 512px * 0.50;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 20px;
        text-align: center;
      }

      img {
        width: 512px * 0.50;
        height: 512px * 0.50;
      }

      img:hover + figcaption, img:hover{
        cursor: pointer;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
}

.img-exercicio{
  display: inline-block;
  position: relative;

  figcaption{
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 37%;
    font-size: 40px;
    color: black;
    font-size: 30px;
    font-weight: bold;
  }
}




@media only screen and (max-width: 1040px) {
  .container-fluid {
    .declaracao {
      .content__declaracao {
        height: 300px;
        img {
          width: 512px * 0.40;
          height: 512px * 0.40;
        }
        figcaption{
          font-size: 30px * 0.80;
        }
      }
    }
  }
}
@media only screen and (max-width: 930px) {
  .container-fluid {
    .declaracao {
      .content__declaracao {
        height: 250px;
        img {
          width: 512px * 0.30;
          height: 512px * 0.30;
        }
        figcaption{
          font-size: 30px * 0.60;
        }
      }
    }
  }
}
