/* ========== CONTAINER PRINCIPAL ========== */

.novo__container
{
  min-height: 600px;
  width: 1000px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2vh;

  input
  {
    pointer-events: none;
    background-color: #eeeeee;
  }

  .div__arrows
  {
    margin-top: 50px;

    .button__arrow
    {
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      .botao
      {
        width: 100%;
        height: 100%;
        color: #265a88;
      }
    }
  }

  .div_buttons
  {
    .button__concluir
    {
      background-color: rgb(43, 191, 43);
      border: none;
      border-radius: 10px;
      height: 45px;
      color: white;
      width: 160px;

      &:hover
      {
        background-color: rgb(72, 210, 72);
      }
    }
  }
}



/* ========== TABELA ANDAMENTO ========== */

.div__tabela
{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;

  .tabela
  {
    width: 100%;

    .tabela__thead
    {
      background-color: #346692;
      color: white;
      height: 50px;
      border: 1px solid black;

      th,td
      {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .tabela__tbody
    {
      td
      {
        height: 40px;
      }

      tr
      {
        border: 1px solid black;
      }

    }

  }

}




.button__andamento
{
  background-color: #265a88;
  border: none;
  border-radius: 10px;
  height: 45px;
  color: white;
  width: 230px;

  &:hover
  {
    background-color: #3f79ac;
  }
}

.button__atender
{
  background-color: rgb(43, 191, 43);
  border: none;
  border-radius: 10px;
  height: 45px;
  color: white;
  width: 230px;
}


/* ========== BUTTON VOLTAR ========== */
.button__voltar
{
  background-color: #265a88;
  border: none;
  border-radius: 10px;
  height: 45px;
  color: white;
  width: 160px;

  &:hover
  {
    background-color: #3f79ac;
  }
}

/* ========== ARQUIVOS ========== */

.div__arquivos
{
  width: 100%;

  .div__arquivos-1
  {
    width: 55%;
    text-align: start;
  }

  .div__arquivos-2
  {
    width: 16%;

    .button__visualizar
    {
      background-color: #265a88;
      border: none;
      border-radius: 10px;
      height: 36px;
      color: white;
      width: 120px;
    }

  }

  .div__arquivos-3
  {
    width: 16%;
  }
}

.button__baixar
{
  background-color: #265a88;
  border: none;
  border-radius: 10px;
  height: 36px;
  color: white;
  width: 120px;
}

.button__baixar:hover, .button__visualizar:hover
{
  background-color: #3f79ac;
  transition: 0.5s;
}

.button__pdf
{
  background-color: #265a88;
  border: none;
  border-radius: 10px;
  height: 45px;
  color: white;
  width: 230px;

  &:hover
  {
    background-color: #3f79ac;
  }
}
