/* ========== CONTAINER PRINCIPAL ========== */

.novo__container
{
  min-height: 600px;
  width: 1000px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2vh;

  input
  {
    pointer-events: none;
    background-color: #EEEEEE;
  }

}


/* ========== BUTTON VOLTAR ========== */
.button__voltar
{
  background-color: #265a88;
  border: none;
  border-radius: 10px;
  height: 45px;
  color: white;
  width: 160px;

  &:hover
  {
    background-color: #3f79ac;
  }
}
