<section class="d-flex flex-column justify-content-center align-items-center w-100 mt-5">

  <div class="row gx-0 solicitacoes w-80 justify-content-around mt-5">

    <div class="col-md-2 solicitacoes__block shadow" (click)="redirectPages('abono-natal')">
      <h4 class="title__block">Abono Natal</h4>

      <div>
        <span class="material-symbols-outlined icone">
          request_quote
          </span>
      </div>
    </div>

    <div class="col-2 solicitacoes__block shadow" (click)="redirectPages('licenca-premio')">
      <h4 class="title__block">Licença Prêmio</h4>

      <div>
        <span class="material-symbols-outlined icone">
          calendar_month
          </span>
      </div>

    </div>

    <div class="col-2 solicitacoes__block shadow" (click)="redirectPages('vale-transporte')">
      <h4 class="title__block">Vale Transporte</h4>

      <span class="material-symbols-outlined icone">
        directions_bus
        </span>
    </div>

  </div>

</section>
